{% extends "base.html.twig" %}

{% block title %}Upravit test{% endblock %}

{% block body %}
    <div class="container card">

        <div class="card-header p-3">
            <h1>{{ block("title") }}</h1>
        </div>

        <div class="card-body">

            <div class="container p-5">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.nazev) }}
                            {{ form_errors(form.nazev) }}
                        </div>
                        <div class="col-2">
                            {{ form_widget(form.odeslat, {label: "uložit změny"}) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>

        </div>

        <div class="card-header p-3">
            <div class="row px-2">
                <div class="col text-start">
                    <h1>Otázky</h1> 
                </div>
                <div class="col text-end">
                    <a class="btn btn-primary" href="{{ path('otazky_nova', { "idTestu": idTestu}) }}">Přidat novou otázku</a>
                </div>
            </div>
        </div>

        <div class="card-body">

            <div class="container p-5">


                <table class="table">
                    <tr>
                        <th>Otázka</th>
                        <th>Odpovědi</th>
                        <th></th>
                        <th></th>
                    </tr>

                    {% for otazka in otazky %}
                        <tr>
                            <td class="col-4">{{ otazka.text }}</td>
                            <td class="col-4">
                                {% for i in 0..(otazka.odpovedi.count - 1) %}
                                    {{ otazka.odpovedi[i].text }} {% if i == otazka.spravnaOdpoved %}&#9733;{% endif %}<br>
                                {% endfor %}
                            </td>
                            <td class="col-2">
                                <a class="btn btn-primary" href="{{ path('otazky_upravit', { "idTestu": idTestu, "idOtazky": otazka.id}) }}">upravit</a>
                            </td>
                            <td class="col-2">
                                <a class="btn btn-danger" href="{{ path('otazky_odstranit_get', { "idTestu": idTestu, "idOtazky": otazka.id}) }}">odstranit</a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>

            </div>
           
        </div>
    </div>
{% endblock %}