{% extends "base.html.twig" %}

{% block title %}Uživatelský účet{% endblock %}

{% block body %}
    <div class="container card">

        <div class="card-header p-3">
            <h1>{{ block("title") }}</h1>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col">
                    <h2>Historie testů</h2>
                </div>
            </div>

            <table class="table">

                <tr>
                    <th>čas</th>
                    <th>test</th>
                    <th>správné odpovědi / počet otázek</th>
                    <th>splněno</th>
                </tr>

                {% for test in historieTestu %}
                    <tr>
                        <td>{{ test.cas.format("d.m.Y H:i") }}</td>
                        <td>{{ test.test.nazev | default("-- test byl odstraněn --") }}</td>
                        <td>{{ test.pocetSpravnychOdpovedi }} / {{ test.pocetOtazek }}</td>
                        <td>{{ (test.pocetSpravnychOdpovedi / max(test.pocetOtazek, 1))|format_percent_number }}</td>
                    </tr>
                {% endfor %}

            </table>

        </div>

    </div>
{% endblock %}
